[submodule "trajnetplusplustools"]
	path = trajnetplusplustools
	url = git@github.com:vita-epfl/trajnetplusplustools.git
[submodule "trajnetplusplusbaselines"]
	path = trajnetplusplusbaselines
	url = git@github.com:vita-epfl/trajnetplusplusbaselines.git
